{{ define "partials/car-model-versions/upsert-form" }}
{{ if .CarModelVersion.ID }}
<form hx-put="/car_model_versions/{{ .CarModelVersion.ID }}" hx-target="this" hx-swap="outerHTML"></form>
{{ else }}
<form hx-post="/car_model_versions" hx-target="#car-model-version-list" hx-swap="beforeend">
  {{ end }}
  <div class="form-group" >
    <label>Name</label>
    <input type="text" name="Name" value="{{ .CarModelVersion.Name }}">
  </div>
  <div class="form-group" >
    <label>ModelID</label>
    <input type="text" name="ModelID" value="{{ .CarModelVersion.ModelID }}">
  </div>
  <div class="form-group" >
    <label>Specifications</label>
    <input type="text" name="Specifications" value="{{ .CarModelVersion.Specifications }}">
  </div>
  <div class="form-group">
    <label>Features</label>
    <input type="text" name="Features" value="{{ .CarModelVersion.Features }}">
  </div>
  <button class="btn">Save</button>
  {{ if .CarModelVersion.ID }}
  <button class="btn" hx-get="/car_model_versions/{{ .CarModelVersion.ID }}">Cancel</button>
  {{ end }}
  <span class="htmx-indicator">Loading...</span>
</form>
{{ end }}