{{ define "partials/contacts/upsert-form" }}
{{ if .ID }}
<form hx-put="/contacts/{{ .ID }}" hx-target="this" hx-swap="outerHTML"></form>
{{ else }}
<form hx-post="/contacts" hx-target="#contact-list" hx-swap="beforeend">
  {{ end }}
  <div>
    <label>First Name</label>
    <input type="text" name="FirstName" value="{{ .FirstName }}">
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="text" name="LastName" value="{{ .LastName }}">
  </div>
  <div class="form-group">
    <label>Email Address</label>
    <input type="email" name="Email" value="{{ .Email }}">
  </div>
  <button class="btn">Save</button>
  {{ if .ID }}
  <button class="btn" hx-get="/contacts/{{ .ID }}">Cancel</button>
  {{ end }}
  <span class="htmx-indicator">Loading...</span>
</form>
{{ end }}