{{ define "partials/manufacturers/upsert-form" }}
{{ if .Manufacturer.ID }}
<form hx-put="/manufacturers/{{ .Manufacturer.ID }}" hx-target="this" hx-swap="outerHTML"></form>
{{ else }}
<form hx-post="/manufacturers" hx-target="#manufacturer-list" hx-swap="beforeend">
  {{ end }}
  <div>
    <label>Name</label>
    <input type="text" name="Name" value="{{ .Manufacturer.Name }}">
  </div>
  <div class="form-group">
    <label>Country Origin</label>
    <input type="text" name="CountryOrigin" value="{{ .Manufacturer.CountryOrigin }}">
  </div>
  <button class="btn">Save</button>
  {{ if .Manufacturer.ID }}
  <button class="btn" hx-get="/manufacturers/{{ .Manufacturer.ID }}">Cancel</button>
  {{ end }}
  <span class="htmx-indicator">Loading...</span>
</form>
{{ end }}