{{ define "pages/brands/index" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ .Title }}</title>
</head>
<body>

  {{ template "partials/brands/upsert-form" }}

  <div id="brand-list">
    {{ range .Brands }}
      {{ template "partials/brands/index-card" toMapStringAny "Brand" . }}
    {{ end }}
  </div>

  <script src="https://unpkg.com/htmx.org@1.9.4"></script>
</body>
</html>
{{ end }}