{{ define "partials/car-models/index-card" }}
<div hx-target="this" hx-swap="outerHTML">
  <div><label>Name</label>: {{ .CarModel.Name }}</div>
  <div><label>BrandID</label>: {{ .CarModel.BrandID }}</div>
  <div><label>ManufactureYear</label>: {{ .CarModel.ManufactureYear }}</div>
  <button hx-get="/car_models/{{ .CarModel.ID }}/edit" class="btn btn-primary">Edit</button>
  <button class="btn btn-error" hx-delete="/car_models/{{ .CarModel.ID }}">Delete</button>
  <span class="htmx-indicator">Loading...</span>
</div>
{{ end }}