@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./reset.css";
@import "./layouts.css";

.htmx-indicator {
  display: none;
}

.htmx-request .htmx-indicator {
  display: inherit;
}

.htmx-request.htmx-indicator {
  display: inherit;
}