{{ define "pages/manufacturers/index" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ .Title }}</title>
</head>

<body>

  {{ template "partials/manufacturers/upsert-form" }}

  <div id="manufacturer-list">
    {{ range .Manufacturers }}
    {{ template "partials/manufacturers/index-card" toMapStringAny "Manufacturer" . }}
    {{ end }}
  </div>

  <script src="https://unpkg.com/htmx.org@1.9.4"></script>
</body>

</html>
{{ end }}