{{ define "partials/cars/index-card" }}
<div hx-target="this" hx-swap="outerHTML">
  <div><label>ModelVersionID</label>: {{ .Car.ModelVersionID }}</div>
  <div><label>Color</label>: {{ .Car.Color }}</div>
  <div><label>Mileage</label>: {{ .Car.Mileage }}</div>
  <div><label>Price</label>: {{ .Car.Price }}</div>
  <div><label>FuelType</label>: {{ .Car.FuelType }}</div>
  <div><label>Transmission</label>: {{ .Car.Transmission }}</div>
  <button hx-get="/cars/{{ .Car.ID }}/edit" class="btn btn-primary">Edit</button>
  <button class="btn btn-danger" hx-delete="/cars/{{ .Car.ID }}">Delete</button>
  <span class="htmx-indicator">Loading...</span>
</div>
{{ end }}