{{ define "partials/car-model-versions/index-card" }}
<div hx-target="this" hx-swap="outerHTML">
  <div><label>Name</label>: {{ .CarModelVersion.Name }}</div>
  <div><label>ModelID</label>: {{ .CarModelVersion.ModelID }}</div>
  <div><label>Specifications</label>: {{ .CarModelVersion.Specifications }}</div>
  <div><label>Features</label>: {{ .CarModelVersion.Features }}</div>
  <button hx-get="/car_model_versions/{{ .CarModelVersion.ID }}/edit" class="btn btn-primary">Edit</button>
  <button class="btn btn-danger" hx-delete="/car_model_versions/{{ .CarModelVersion.ID }}">Delete</button>
  <span class="htmx-indicator">Loading...</span>
</div>
{{ end }}