{{ define "partials/brands/index-card" }}
<div hx-target="this" hx-swap="outerHTML" class="card w-96 shadow-xl" >
  <span class="htmx-indicator">Loading...</span>
  <!-- <figure><img src="/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure> -->
  <div class="card-body" >
    <h2 class="card-title">
      <span>{{ .Brand.Name }}</span>
    </h2>

    <p class="mb-4" >
      <label class="font-bold" >ManufacturerID:</label>
      <span>{{ .Brand.ManufacturerID }}</span>
    </p>
    
    <div class="card-actions justify-end">
      <button hx-get="/brands/{{ .Brand.ID }}/edit" class="btn btn-primary">Edit</button>
      <button class="btn btn-error" hx-delete="/brands/{{ .Brand.ID }}">Delete</button>
    </div>
  </div>
</div>
{{ end }}